body {
    /* Estiliza o elemento <body> da página */
    font-family: Arial, sans-serif;
    /* Define a fonte principal como Arial, com uma alternativa sans-serif caso Arial não esteja disponível */
    
    background-color: #000000;
    /* Define a cor de fundo da página como preta (#000000) */
}       

h1 {
    /* Estiliza o elemento <h1> (título principal) da página */
    color: #ffffff;
    /* Define a cor do texto do título como branca (#ffffff) */
    
    text-align: center;
    /* Centraliza o texto do título na página */
}

img {
    /* Estiliza o elemento <img> (imagens) da página */
    display: block;
    /* Define a imagem como um elemento de bloco, fazendo-a ocupar toda a largura disponível */
    
    margin: 20px auto;
    /* Define uma margem de 20px acima e abaixo da imagem, e centraliza horizontalmente */
    
    border-radius: 10px;
    /* Aplica um arredondamento de 10px nas bordas da imagem */
    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    /* Adiciona uma sombra ao redor da imagem, com deslocamento de 0px horizontal, 4px vertical, 6px de desfoque, e a cor da sombra sendo preta com 50% de opacidade */
}
